select {
  min-width: 120px;
  max-width: 120px;
  &:focus {
    width: auto;
  }
}

img {
  max-width: 480px;
  overflow: hidden;
}

p.post-title {
  font-family: georgia,times,times new roman,serif;
  font-size: 2em;
  margin: 0 0 0 0;
  font-weight: 400;
  color: #111;
}

.post-meta {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  margin-bottom: 0;
}

p.post-description {
  font-family: helvetica neue,helvetica,sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0;
}